# Ignore node_modules directory
node_modules/

# Ignore pnpm lock file
pnpm-lock.yaml

# Do not ignore .env file
*.env
.env
.env*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore npm-debug log
npm-debug.log*